@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900");

html,
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: #1e1e1e;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #ccc;
  text-decoration: none !important;
}

a:hover {
  color: #f99;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fff;
  font-weight: 700;
}

p {
  font-size: 15px;
  line-height: 30px;
  color: #fff;
}

img {
  width: 100%;
  overflow: hidden;
}

/* 
---------------------------------------------
Global Styles
--------------------------------------------- 
*/
html,
body {
  background: #1f2122;
  font-family: "Poppins", sans-serif;
}

body .page-content {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #27292a;
  padding: 20px;
  border-radius: 23px;
}

p {
  font-size: 15px;
  color: #666;
  line-height: 30px;
  margin-bottom: 0px;
}

::selection {
  background: #e75e8d;
  color: #fff;
}

::-moz-selection {
  background: #e75e8d;
  color: #fff;
}

.templatemo-item {
  max-width: 80px;
  border-radius: 23px;
}

.main-button a {
  font-size: 14px;
  color: #fff;
  background-color: #e75e8d;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 25px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
}

.main-button a:hover {
  background-color: #fff;
  color: #e75e8d;
}

.heading-section h4 {
  color: #ec6090;
  font-size: 34px;
  text-decoration: none;
  margin-bottom: 30px;
}

.heading-section h4 em {
  color: #fff;
  font-style: normal;
}

/* 
---------------------------------------------
Most Popular Style
--------------------------------------------- 
*/

.most-popular {
  margin-top: 60px;
  padding: 30px;
  background-color: #1f2122;
  border-radius: 23px;
}

.most-popular .item {
  background-color: #27292a;
  padding: 30px 15px;
  border-radius: 23px;
  margin-bottom: 30px;
}

.most-popular .item .item {
  padding: 0px;
  border-radius: 0px;
  background-color: transparent;
  margin-bottom: 0px;
}

.most-popular .item img {
  border-radius: 23px;
}

.most-popular .item h4 {
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 0px;
  display: inline-block;
}

.most-popular .item span {
  color: #666;
  display: block;
  margin-top: 7px;
  font-weight: 400;
}

.most-popular .main-button {
  text-align: center;
  margin-bottom: -53px;
}

/* 
---------------------------------------------
Gaming Library Style
--------------------------------------------- 
*/

.gaming-library {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 30px;
  background-color: #1f2122;
  border-radius: 23px;
}

.gaming-library .item {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #27292a;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.cat-title {
  border-bottom: 1px solid #27292a;
  margin-bottom: 10px;
  padding-bottom: 20px;
}

.gaming-library .item h4 {
  display: flex;
  margin: 10px;
  justify-content: center;
  align-items: center;
  max-width: 150px;
}

.gaming-library .main-button {
  text-align: center;
  margin-bottom: -53px;
}
/*
---------------------------------------------
  Responsive
  Style
---------------------------------------------
*/
body {
  overflow-x: hidden;
}

@media (max-width: 767px) {
  h2 {
    padding-top: 20px;
    margin-top: 20px;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column !important;
  }

  .gaming-library {
    display: flex !important;
    align-items: center !important;
    justify-content: start !important;
    flex-direction: column !important;
  }

  .item {
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }

  body .page-content {
    padding: 5px 15px;
  }

  .main-banner {
    text-align: center;
  }

  .main-banner h4 {
    font-size: 35px;
  }

  .gaming-library {
    display: flex;
    flex-direction: column;
  }

  .most-popular .item .inner-item {
    margin-bottom: 20px;
  }

  .heading-section h4 {
    font-size: 20px;
  }
}

@media (max-width: 990) {
  h2 {
    padding-top: 20px;
    margin-top: 20px;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column !important;
  }

  .gaming-library .item {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid #27292a;
    margin-bottom: 10px;
    padding-bottom: 10px;
    align-content: center;
  }

  body .page-content {
    padding: 0px 15px;
  }

  .background-header {
    display: inline-block;
  }

  .heading-section h4 {
    font-size: 20px;
  }
}
