@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900");
@import "~bootstrap/dist/css/bootstrap.min.css";
html,
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: #1e1e1e;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #ccc;
  text-decoration: none !important;
}

a:hover {
  color: #f99;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fff;
  font-weight: 700;
}

p {
  font-size: 15px;
  line-height: 30px;
  color: #fff;
}

img {
  width: 100%;
  overflow: hidden;
}

/* 
---------------------------------------------
Global Styles
--------------------------------------------- 
*/
html,
body {
  background: #1f2122;
  font-family: "Poppins", sans-serif;
}

.page-content {
  margin-top: 20px;
  padding: 10px 15px;

  background-color: #27292a;
  border-radius: 23px;
}

p {
  font-size: 15px;
  color: #666;
  line-height: 30px;
  margin-bottom: 0px;
}

::selection {
  background: #e75e8d;
  color: #fff;
}

::-moz-selection {
  background: #e75e8d;
  color: #fff;
}

.year-counter {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
}

.main-button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.main-button a {
  font-size: 14px;
  color: #fff;
  background-color: #e75e8d;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 25px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
}

.main-button a:hover {
  background-color: #fff;
  color: #e75e8d;
}

.heading-section h4 {
  font-size: 34px;
  text-decoration: none;
}

/*
---------------------------------------------
  Responsive
  Style
---------------------------------------------
*/
body {
  overflow-x: hidden;
}

@media (max-width: 767px) {
  h2 {
    padding-top: 20px;
    margin-top: 20px;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column !important;
  }
  .item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .moviesList {
    white-space: break-spaces;
  }

  li {
    font-size: 14px;
  }
}
