@import url("https://fonts.googleapis.com/css?family=Assistant");
@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background: gray;
  font-family: Assistant, sans-serif;
}

.rounded-circle {
  margin-right: 20px;
}

.moviesList {
  width: 100%;
  display: flex;
  color: #fff;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  margin: 1rem;
}

.moviesList li {
  width: 100%;
}

.showMore {
  color: #fff;
  opacity: 0.4;
  flex-wrap: wrap;
  margin: 6px;
  cursor: pointer;
}
.dropdown-menu {
  --bs-dropdown-min-width: auto !important;
}

.blinking {
  color: #ffff;
  animation: blink-animation 1.5s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
