body {
  background: gray;
  font-family: Assistant, sans-serif;
}

.rounded-circle {
  margin-right: 20px;
}

.moviesList {
  white-space: break-spaces;
  width: 100%;
  display: flex;
  color: #fff;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  margin: 1rem;
}

.moviesList li {
  width: 100%;
}

.showMore {
  color: #fff;
  opacity: 0.4;
  margin: 6px;
  cursor: pointer;
  transition: opacity 0.3s;
}

.showMore:hover {
  opacity: 0.8;
}

.dropdown-menu {
  --bs-dropdown-min-width: auto !important;
}