@import url('https://fonts.googleapis.com/css?family=Assistant');

body {
    background: gray;
    font-family: Assistant, sans-serif
}

.rounded-circle {
    margin-right: 20px;
}

.moviesList {
    display: flex;
    color: #fff;
    flex-wrap: wrap;
    flex-direction: column !important;
    justify-content: center;
}

.moviesList li {
    display: list-item;
    justify-content: start;
    color: #fff;
    flex-wrap: wrap;
    margin: 6px;
}
.showMore{
    color: #fff;
    opacity: 0.4;
    flex-wrap: wrap;
    margin: 6px;
}
.dropdown-menu {
    --bs-dropdown-min-width: auto !important;
}

@media (min-width: 1025px) {
    .moviesList li {
        width: 80%;
    }
}

@media (min-width: 768px) {
    .gaming-library .item {
        justify-content: flex-start !important;
    }

    .moviesList {
        min-width: 200px;
        justify-content: flex-start !important;
        margin-left: 20px;
    }

}

@media (max-width: 426px) {
    .moviesList li {
        padding: 0 !important;
        margin: 0 !important;
        align-items: start !important;
    }
}